html
{
    background-color: rgb(252, 235, 161); 
}
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


#menu
{
    background-color: rgb(19, 15, 15);
    padding: 0%;
    margin: 0 auto;
    
}

#menu ul
{
    list-style: none;

}

#menu ul li
{
    display: inline;
}

#menu ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu ul li a:hover {
    background-color: rgb(65, 56, 16);
}